.vs/
obj/
bin/
lib/
Release/
Debug/
*.vcxproj.filters
*.vcxproj.user
*.csproj.user
*.sdf
*.suo
*.opensdf
a32/
launchSettings.json
/CUETools/TestResults
/ThirdParty/*/libFLAC_dynamic.*
/ThirdParty/*/MACLib.*
/ThirdParty/*/MACLibDll.*
/ThirdParty/*/TTALib.*
/ThirdParty/*/wavpackdll.*
/ThirdParty/*/libwavpack.*
/ThirdPartyDebug/
.DS_Store
CUEControls/.DS_Store
CUEPlayer/.DS_Store
CUERipper/.DS_Store
CUETools/.DS_Store
CUETools.ChaptersToCue/.DS_Store
CUETools.CLParity/.DS_Store
CUETools.Codecs/.DS_Store
CUETools.Codecs.CoreAudio/.DS_Store
CUETools.Codecs.DirectSound/.DS_Store
CUETools.Codecs.FLACCL/.DS_Store
CUETools.Codecs.Flake/.DS_Store
CUETools.Codecs.MPEG/.DS_Store
CUETools.CTDB/.DS_Store
CUETools.DSP.Resampler/.DS_Store
CUETools.eac3ui/.DS_Store
CUETools.FLACCL.cmd/.DS_Store
CUETools.Processor/.DS_Store
CUETools.TestHelpers/.DS_Store
ProgressODoom/.DS_Store
